/**************
	header
***************/
.lj_header{
	height:38px;
	line-height:38px;
	background:#3d424d;
	color:#fff
}
.lj_header .nav{
	width:800px;
	padding-top:0;
	float:left;
	clear:both;
}
.lj_header .nav li{
	float:left;
	position:relative
}
.lj_header .nav li.hover:hover{
	z-index:1005
}
.lj_header .nav li.hover:hover .nav-list{
	opacity:1;
	position:absolute;
	display:block \9;
	pointer-events:auto;
	-webkit-transform:translateY(0) scale(1);
	-moz-transform:translateY(0) scale(1);
	-ms-transform:translateY(0) scale(1);
	-o-transform:translateY(0) scale(1);
	transform:translateY(0) scale(1);
	z-index:99999
}
.lj_header .nav li.hover .nav-list{
	width:124px;
	position:absolute;
	height:20px;
	left:-35px;
	top:38px;
	z-index:99999;
	opacity:0;
	display:none \9;
	-webkit-transition:all 500ms cubic-bezier(.34, 1.21, .4, 1);
	-moz-transition:all 500ms cubic-bezier(.34, 1.21, .4, 1);
	transition:all 500ms cubic-bezier(.34, 1.21, .4, 1);
	-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	-ms-transform-origin:50% 0;
	-o-transform-origin:50% 0;
	transform-origin:50% 0;
	-webkit-transform:translateY(0) scale(0);
	-moz-transform:translateY(0) scale(0);
	-ms-transform:translateY(0) scale(0);
	-o-transform:translateY(0) scale(0);
	transform:translateY(0) scale(0)
}
.lj_header .nav li.hover dd{
	margin:0 auto;
	background:#fff;
	border-radius:2px;
	width:100px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.4);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.4);
	box-shadow:0 1px 3px rgba(0,0,0,0.4)
}
.lj_header .nav li.hover dd i{
	width:0px;
	height:0px;
	border-bottom: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
	display:block;
	position:absolute;
	left:57px;
	top:-6px
}
.lj_header .nav li.hover.ewm .nav-list{
	left:-28px;
}
.lj_header .nav li.hover.xinfang .nav-list{
	left:-42px;
}
.lj_header .nav li.hover.ewm dd{
	width:100px;
	padding:12px;
}
.lj_header .nav li.hover.ewm dd .ewmWrap{
	position:relative;
	width:100px;
	height:100px;
	overflow: hidden;
	position: relative;
}
.lj_header .nav li.hover dd dl{
	height:30px;
	line-height:30px
}
.lj_header .nav li.hover dd dl:hover{
	background:#f1f1f1;
}
.lj_header .nav li.hover dd dl a{
	color:#333;
	float:left;
	padding:0;
	margin-left:20px;
	font-size:14px
}
.lj_header .nav li a{
	font-size:12px;
	color:#999;
	padding:0 10px;
	display:inline-block;
	text-decoration:none
}
.lj_header .nav li:first-of-type a{
	padding: 0 10px 0 0;
}
.lj_header .nav li a.on,
.lj_header .nav li:hover a{
	color:#fff;
}


.lj_header .login{float:left; text-align:right; width:200px; color:#999;}
.lj_header .login .typeShowUser a{
	font-size:12px;
	text-decoration:none;
}
.lj_header .login .typeShowUser>a{margin:0;margin-right:2px}
.lj_header .login .typeShowUser a span.login_bubble_tip {
	background: #00ae66;
	font-size: 12px;
	padding: 0 4px;
	margin-left: 5px;
	height:20px;
	line-height:20px;
	display:none;
	color:#fff;
	border-radius:2px;
}
.lj_header .login a{
	font-size:12px;
	color:#999;
	margin:0 8px
}
.lj_header .login a .user-name{
	color:#e6e6e6;
}
.lj_header .login a:hover .user-name{
	color:#fff;
}
.lj_header .ti-hover{
	position:relative;
	z-index:99
}
.lj_header .ti-hover:hover .user-news ul{
	opacity:1;
	filter:alpha(opacity=100);
	display:block \9;
	pointer-events:auto;
	-webkit-transform:translateY(0) scale(1);
	-moz-transform:translateY(0) scale(1);
	-ms-transform:translateY(0) scale(1);
	-o-transform:translateY(0) scale(1);
	transform:translateY(0) scale(1)
}

.lj_header .typeUserInfo,
.lj_header .typeShowUser{
	position:relative;
	z-index:2
}


.lj_header .user-news{
	position:absolute;
	left:0;
	right:-40px;
	top:0;
	bottom:0;
	z-index:1;
	color:#fff;
	cursor:pointer
}
.lj_header .user-news i{
	display:inline-block;
	background:#e2655c;
	font-size:.875em;
	text-align:center;
	height:11px;
	line-height:11px;
	padding:1px
}
.lj_header .user-name {
	max-width: 84px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
	line-height:16px;
	margin-bottom:-3px
}

.lj_header .user-news>i{
	position:absolute;
	top:18px;
	right:36px;
	padding:0 4px;
	height:16px;
	line-height:16px;
	text-align:center;
	background-color:#e2655c;
	color:#fff
}

.lj_header .user-news ul{
	width:212px;
	background:#fff;
	border-radius:0 0 2px 2px;
	padding-top:0;
	position:absolute;
	left:50%;
	top:38px;
	margin-left:-120px;
	filter:alpha(opacity=0);
	display:none \9;
	opacity:0;
	padding:5px 0;
	-webkit-transition:all 500ms cubic-bezier(.34, 1.21, .4, 1);
	-moz-transition:all 500ms cubic-bezier(.34, 1.21, .4, 1);
	transition:all 500ms cubic-bezier(.34, 1.21, .4, 1);
	-webkit-transform-origin:50% 0;
	-moz-transform-origin:50% 0;
	-ms-transform-origin:50% 0;
	-o-transform-origin:50% 0;
	transform-origin:50% 0;
	-webkit-transform:translateY(0) scale(0);
	-moz-transform:translateY(0) scale(0);
	-ms-transform:translateY(0) scale(0);
	-o-transform:translateY(0) scale(0);
	transform:translateY(0) scale(0);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.4);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.4);
	box-shadow:0 1px 3px rgba(0,0,0,0.4)
}
.lj_header .user-news ul li{
	color:#999;
	height:30px;
	font-size:14px;
	line-height:30px;
	width:180px;
	padding:0 16px;
	text-align:left;
}
.lj_header .user-news ul li a{
	color:#999;
	font-size:14px;
	text-shadow:none;
	font-weight:normal;
	margin-left:0;
	text-decoration:none;
}
.lj_header .user-news ul li a i{
	color:#FF5200;
	background:none;
	font-size:14px;
}

.lj_header .user-news ul li.s-li{
	height:0;
	position:relative;
	top:-10px;
}
.lj_header .user-news ul li.s-li span{
	border-bottom: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
	width:0;height:0;
	display:block;
	position:absolute;
	right:100px;
	top:0
}



/**************
	searchs
***************/
.lj_searchs{
	height:48px;
	line-height:48px;
	padding-top:10px;
	background-image:url(../img/tips-bg.png);
	background-repeat:repeat-x;
	background-size:18px 62px;
	width:100%;
	background-color:#f1f1f1;
	clear:both;
}

.lj_searchs .logo,
.lj_searchs .lj_logo{
	width:160px;
	height:31px;
	margin-top:3px;
	background:url(../img/logo_green.png) no-repeat left top;
	background: -webkit-image-set(url("../img/logo_green.png") 1x, url("../img/logo_green@2x.png") 2x) no-repeat left top;
	display:block;
}
.lj_searchs .label{
	height:26px;
	line-height:26px;
	color:#fff;
	font-size:14px;
	padding:0 14px;
	margin:3px 0 0 12px;
	background-color:#1aad68;
	border-radius:2px;
}

.lj_searchs .search-txt{
	width:730px;
}
.lj_searchs .search-txt.ml_50{
	margin-left:50px;
}
.lj_searchs .search-txt .search-tab{
	float:left;
	width:722px;
	border:1px solid #ccc;
	border-right:none;
	border-radius:2px 0 2px 2px;
	height:35px;
	/*margin-left:-3px;*/
	position:relative
}
.lj_searchs .search-txt .search-tab .suggest-wrap{
	top:1px;
	float:left;
	left:-2px;
	padding:0 1px
}
.lj_searchs .search-txt .search-tab i.icon{
	background:url(../img/bg.png) -850px -51px;
	width:7px;
	height:4px;
	display:block;
	float:left;
	margin-top:16px;
	margin-right:8px;
	position:absolute;
	left:60px;
	z-index:98
}
.lj_searchs .search-txt .search-tab .check{
	position:absolute;
	z-index:98;
	height:35px;
	line-height:35px;
	width:70px;
	text-align:center;
	cursor:pointer
}
.lj_searchs .search-txt .search-tab ul.tabs{
	width:70px;
	float:left;
	position:absolute;
	z-index:99;
	height:35px;
	overflow:hidden;
	top:0;
	background:#fff;
	display:none
}
.lj_searchs .search-txt .search-tab ul.tabs li{
	height:35px;
	line-height:35px;
	text-align:center
}
.lj_searchs .search-txt .search-tab ul.tabs li:hover{
	background:#f9f9f9
}
.lj_searchs .search-txt .search-tab ul.tabs li label{
	cursor:pointer
}
.lj_searchs .search-txt .search-tab ul.tabs li a{
	color:#333
}
.lj_searchs .search-txt .search-tab .txt-serach{
	position:relative;
	left:0;
	top:0
}
.lj_searchs .search-txt .search-tab .txt-serach a.saveSearchTotal{
	position:absolute; top:0; right:100px; z-index:1; 
	height:35px; line-height:35px; padding:0 8px;
	color:#333; font-size:12px; text-decoration:underline;
	display:none;
}
.lj_searchs .search-txt .search-tab .txt-serach a.saveSearchTotal.open{
	color:#00ae66
}

.lj_searchs .search-txt .search-tab .txt-serach input{
	float:left;
	padding-left:75px;
	width:556px;
	height:35px;
	border:0;
	background:#fff;
	line-height:35px;
	position:relative;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug{
	display:none;
	margin-top:36px;
	margin-left:-1px;
	position:absolute;
	z-index:999
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug ul{
	width:630px;
	background:#fff;
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.175);
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.175);
	box-shadow:0 2px 2px rgba(0,0,0,0.175);
	border:1px solid #f2f2f2;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding-bottom:10px;
	display:none
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug ul div.list.saveSearchFix{
	max-height:395px; overflow-y:hidden
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li{
	height:35px;
	line-height:35px;
	padding:0 10px
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.hot-name{
	background:#fff;
	color:#718AA6;
	height:50px;
	line-height:50px;
	position:relative;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.hot-name.saveSearch-title{
	color:#00ae66;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.hot-name:hover{
	background:#fff
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.hot-name a,
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.hot-name a:hover{
	position:absolute;
	top:0;
	right:25px;
	height:50px;
	line-height:50px;
	font-size:12px;
	color:#333;
	text-decoration:none;
	width:auto;
}
/*.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.del:hover{
	background:#fff
}*/
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.line{
	height:1px;
	line-height:1px;
	background:#F5F5F5;
	margin:2px 10px;
	font-size:0;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.line:hover{
	background:#F5F5F5;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li a{
	color:#333;
	display:inline-block;
	font-size:14px;
	text-decoration:none;
	width:100%
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.filter {
	position:relative;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.filter a.filter_name{
	float:left;
	width:100%;
	font-size:12px;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.filter a.filter_name span{
	height:21px;
	line-height:21px;
	border-radius: 2px;
	background:#efefef;
	padding:2px 6px;
	color:#333;
	display:inline-block;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.filter a.filter_del{
	position:absolute;
	top:0;
	right:25px;
	width:25px;
	color:#999;
	text-decoration:underline;
	font-size:12px;
	display:none;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li.filter:hover a.filter_del{
	display:block;
}
.lj_searchs .search-txt .search-tab .txt-serach .hot-sug li:hover{
	background:#f9f9f9
}
.lj_searchs .search-txt form{
	width:730px;
	position:relative;
	float:left
}
.lj_searchs .search-txt .act-search{
	width:100px;
	height:37px;
	border:1px solid #aa4741;
	border-radius:2px;
	float:left;
	background:#c7524b;
	color:#fff;
	line-height:37px;
	font-weight:700;
	font-size:14px;
	cursor:pointer;
	position:absolute;
	z-index:1;
	right:0px;
}
/*.lj_searchs .last{
	color:#999;
	line-height:35px;
	width:104px;
	margin-top:2px;
}
.lj_searchs .last b{
	color:#999;
	font-weight:700;
	float:left
}
.lj_searchs .last a.btn_ditu{
	width:104px; 
	height:34px; 
	display:block; 
	background:url(../img/button_map.png) no-repeat left top;
	background: -webkit-image-set(url("../img/button_map.png") 1x, url("../img/button_map@2x.png") 2x) no-repeat left top;
}
.lj_searchs .last a.btn_ditu:hover{
	background-position:left -34px
}*/